// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  background: #222;
  color: #ccc;

  .list-group {
    .list-group-item {
      background: none;
    }
  }

  .sub-footer {
    background: #111;
  }

  textarea::placeholder,
  input::placeholder {
    color: black;
  }

  a,
  svg {
    color: white;
  }

  .Form--Label.Form-Checkbox {
    background: transparent;
  }

  .Form--Alert {
    color: black;
  }

  .hidden {
    visibility: hidden;
  }
}
