@import '../stylesheets/abstracts/mixins';

.About {
  font-family: 'Amatic SC';
  font-size: 14px;

  h2 {
    font-size: 3em;
  }
  p {
    font-family: 'Josefin Slab';
    text-align: justify;
    font-size: 1.5em;
  }

  .section__1,
  .section__2,
  .section__3,
  .section__4 {
    font-size: 1.2em;

    h1,
    h2 {
      text-align: center;
      @include title-banner(white, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
    }
    h2 {
      font-size: 3em;
    }
    p {
      font-family: 'Josefin Slab';
      text-align: justify;
      font-size: 1.5em;
    }
  }

  .section__3 {
    img {
      box-shadow: 0 3px 10px -3px black;
    }
  }
  .section__4 {
    h2 {
      svg {
        padding: 0 20px;
      }
    }
    p {
      text-align: right;
    }
  }
}

@media only screen and (max-width: 575px) {
  .About {
    .section__1,
    .section__2,
    .section__3,
    .section__4 {
      h2 {
        font-size: 2em;
      }
      p {
        font-size: 1.2em;
        line-height: 1.4em;
      }
    }
  }
}
