@import '../stylesheets/abstracts/mixins';

.Home {
  font-family: 'Amatic SC';
  font-size: 14px;

  .hero {
    h1 {
      font-size: 8em;
      position: relative;
    }
    p {
      font-family: 'Josefin Slab';
      font-size: 2em;
    }
  }
  .section__1 {
    font-size: 1.5em;
    h1 {
      text-align: center;

      @include title-banner;
    }
    p {
      text-align: justify;
      font-family: 'Josefin Slab';
    }
  }

  .section__2 {
    font-size: 1.5em;
    h2 {
      font-size: 3em;
      @include title-banner;
    }
  }

  .section__3 {
    font-size: 1.5em;
    h2 {
      font-size: 3em;
      @include title-banner;
    }
    p {
      text-align: justify;
      font-family: 'Josefin Slab';
    }
    img {
      box-shadow: 0 3px 10px -3px black;
    }
  }
}
