@import '../stylesheets/abstracts/mixins';

.Home {
  font-family: 'Amatic SC';

  .hero {
    h1 {
      position: relative;
    }
    p {
      font-family: 'Josefin Slab';
    }
  }

  .section__1,
  .section__2,
  .section__3,
  .section__4 {
    h1 {
      text-align: center;
      font-size: 3em;
      padding: 30px;
      height: 100px;
      @include title-banner(white, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
    }

    h2 {
      @include monospaceBanner();
    }

    p {
      font-family: 'Josefin Slab';
      text-align: justify;
    }
  }

  .section__3 {
    img {
      box-shadow: 0 3px 10px -3px black;
    }
  }
  .section__4 {
    .quote {
      position: relative;
      &::before,
      &::after {
        color: #e83e8c;
        z-index: 20;
        top: 0;
        position: absolute;
        font-size: 10em;
      }

      &::before {
        content: open-quote;
        transform: translate(-30%, -30%) rotate(20deg);
        left: -3%;
      }
      &::after {
        content: close-quote;
        right: -5%;
        transform: translateY(-30%) rotate(-20deg);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .Home {
    .section__1,
    .section__2,
    .section__3,
    .section__4 {
      h1 {
        height: auto;
      }
      p {
        line-height: 1.7em;
      }
    }
  }
}
