@import '../stylesheets/abstracts/mixins';

.shadow-effect-1 {
  @include shadow-effect-1;
}

.service {
  .Content {
    img {
      width: 50%;
      @include shadow-effect-1;
    }
  }

  .card {
    background: url(../img/blackboard.jpg) no-repeat center center;
    background-size: cover;

    color: white;
    padding: 11rem;
    -webkit-box-shadow: inset 0 0 20px 0px black;
    box-shadow: 0 0 20px 0px #00000024;
    border: 5px rgba(0, 0, 0, 0.397);
  }

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0)
    );
  }
}
.SingleService {
  background: var(--lightGrey);
}

.SingleService--BackButton {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.SingleService--BackButton svg {
  transition: transform 0.2s ease-out;
  transform: translateX(0);
  height: 1.2em;
}

.SingleService--BackButton:hover svg,
.SingleService--BackButton:focus svg {
  transform: translateX(-0.25em);
}

.SingleService--Content {
  background: white;
  padding: 8rem 8rem 4rem 8rem;
}

@media screen and (max-width: 750px) {
  .SingleService--Content {
    padding: 4rem 2rem;
  }
}

.SingleService--Meta {
  font-size: 1rem;
  margin: 0 0 2rem 0;
  text-align: center;
}
0 .SingleService--Meta > * + * {
  margin-left: 0.75em;
}

.SingleService--Title {
  text-align: center;
  line-height: 1.2;
}

.SingleService--InnerContent {
  padding: 0 8rem;
}

@media screen and (max-width: 750px) {
  .SingleService--InnerContent {
    padding: 0;
  }
}

.SingleService--Pagination {
  margin: 4rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SingleService--Pagination--Link {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.SingleService--Pagination--Link.next {
  margin-left: auto;
}
