@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

// 2. Vendors
@import 'vendors/bootstrap';
@import 'vendors/normalize';

// 3. Base stuff
@import 'base/base';
// @import 'base/fonts';
@import 'base/typography';
@import 'base/helpers';
@import 'base/form';
@import 'base/images';
@import 'base/spacing';
@import 'base/flex';

// 4. Layout-related sections
@import 'layout/nav';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/content';
@import 'layout/pageHeader';

// 5. Components
@import 'components/accordion';
@import 'components/backgroundVideo';
@import 'components/button';
@import 'components/card';
@import 'components/instagram';
@import 'components/popup';
@import 'components/postSection';
@import 'components/svgIcon';

// 6. Page-specific styles
@import 'pages/home';

// 7. Themes
@import 'themes/default';

.font-primary {
  font-family: 'Amatic SC';
}

.font-secondary {
  font-family: 'josefin-slab';
}

@font-face {
  font-family: 'squeaky chalk sound';
  src: url('../../static/fonts/squeakychalksound.eot');
  src: url('../../static/fonts/squeakychalksound.eot?#iefix') format('embedded-opentype'),
    url('../../static/fonts/squeakychalksound.woff2') format('woff2'),
    url('../../static/fonts/squeakychalksound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Windy Indigo';
  src: url('../../static/fonts/WindyIndigo.eot');
  src: url('../../static/fonts/WindyIndigo.eot?#iefix') format('embedded-opentype'),
    url('../../static/fonts/WindyIndigo.woff2') format('woff2'),
    url('../../static/fonts/WindyIndigo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rudiment';
  src: url('../../static/fonts/Rudiment.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
