// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'AmaticSC-Regular';
  src: url('../../../static/fonts/AmaticSC-Regular.ttf');
}

@font-face {
  font-family: 'AmaticSC-Bold';
  src: url('../../../static/fonts/AmaticSC-Bold.ttf');
}
